html {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

body {
	margin: 0px;
}

.page {
	display: flex;
	position: absolute;
	flex-direction: column;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-body {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
}

.title {
	font-size: 2rem;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.form > * {
	margin-bottom: 0.5rem !important;
	margin-top: 0.5rem !important;
}

.form-input .label {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
	padding: 0;
	margin-bottom: 0.5rem;
}
.native-input {
	display: block;
	width: calc(100% - 2rem);
	padding: 8px 12px;
	border-radius: 4px;
	background-color: transparent;
	border-color: #bfbfbf;
	border-width: 1px;
	border-style: solid;
	transition: all 0.2s ease-in-out;
	cursor: text;
}
.native-input:hover {
	border-color: #111;
}
.native-input:focus-visible {
	border-color: initial !important;
}
.native-input:focus,
.native-input:active {
	border-color: #2684ff;
	box-shadow: #2684ff 0px 0px 0px 1px;

	background-color: #fff;
}

.form-input .MuiInputBase-formControl {
	display: block;
	width: 100%;
}

.form-input.required label::after {
	content: "*";
	position: relative;
	top: 2px;
	font-size: 14px;
	color: #d72d30;
	padding-left: 2px;
	font-weight: 700;
}

.output {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 40vw;
	margin: 2rem;
	padding: 2rem;
}

.output .title {
	font-size: 3rem;
	font-weight: 600;
	margin: 1rem;
}
.output .content {
	word-wrap: break-word;
	font-weight: 500;
	font-size: 1.25rem;
}

/* Login page */
.login-panel {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.login-form {
	border: 2px solid rgb(211 211 211);
	border-radius: 22px;
	background-color: rgb(253 253 253);
	width: 400px;
	padding: 2.5rem;
	margin: 4rem;
}
.selection-panel {
	display: flex;
	flex-direction: row;
	margin: 2rem;
	justify-content: center;
}

.input-radio:last-child {
	margin-left: 2rem;
}
.input-radio {
	display: flex;
	align-items: center;
}

.inputs {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(1fr);
	gap: 1rem;
}

.form-input label {
	text-transform: capitalize;
}

button {
	cursor: pointer;
}

/* Admin layout */

.box-container {
	min-height: 100%;
	display: grid;
	grid-template-columns: 4fr 8fr 4fr;
	grid-template-rows: 100px calc(100% - 100px);
}

.title-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.content-section {
	grid-row: 2;
	grid-column: 1 / 4;
	height: 100%;
}

.profile-section p {
	margin: 0.25rem 0px;
}

.profile-section a:hover {
	color: #0025dd;
}
.profile-section a {
	color: #002bff;
	cursor: pointer;
	font-weight: 600;
}

.profile-section {
	margin: 1rem 3rem;
}

.title-section .page-title {
	font-size: 2rem;
	margin: 1rem;
	color: #8f8f8f;
	font-weight: 500;
}

.title-section .page-subtitle {
	color: #393a46;
	font-size: 1.125rem;
}

.action-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2rem auto;
}

.row {
	margin: 2rem 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.row > * {
	flex-grow: 1;
	max-width: 300px;
}

.btn-panel {
	margin-left: 10%;
}

.flex-start {
	justify-content: flex-start;
}

/* Table styles */
.table-container {
	margin: 1rem 10%;
	max-width: 80%;
	overflow-x: auto;
}
.table {
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
	border-radius: 6px;
	width: 100%;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.table thead {
	background-color: #f9fafb;
}
.table thead > :not([hidden]) ~ :not([hidden]),
.table tbody > :not([hidden]) ~ :not([hidden]) {
	border-bottom: 1px solid #e5e7eb;
}

.table thead th:last-child {
	text-align: center;
}

.table tr.no-row {
	text-align: center;
	letter-spacing: 0.05rem;
	color: #a1a3a5;
	font-size: 1rem;
}
.table th {
	padding: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.125rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 500;
	font-stretch: expanded;
	color: #6b7280;
}

.table td {
	padding: 0.75rem;
}
.table td .icon-btn {
	margin: 0px 0.25rem;
}

.table td {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

button.icon-btn {
	background-color: transparent;
	border: none;
	color: #647c8f;
	padding: 0px;
	transition: color 0.2s ease-in-out;
}
button.icon-btn:hover {
	color: black;
}

/* Form section */
.form-section {
	background-color: #ede7f6;
	height: 100%;
}

.user-form {
	margin: 0px 10%;
	padding: 1rem 0px;
}

.user-form .title-pane .title {
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	color: #202124;
	line-height: 135%;
	max-width: 100%;
	min-width: 0%;
}

.user-form .title-pane .description {
	white-space: pre-wrap;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2px;
	line-height: 20px;
	color: #202124;
	margin-top: 12px;
}

.user-form .form-input,
.user-form .title-pane {
	transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
	background-color: #fff;
	border: 1px solid #dadce0;
	border-radius: 8px;
	margin: 1rem 0px;
	padding: 2rem;
	page-break-inside: avoid;
	word-wrap: break-word;
	display: block;
}

.user-form .title-pane {
	border-top: 5px solid #6200ff;
}

.user-form .btn-panel button:last-child {
	margin-left: 1rem;
}

.user-form .btn-panel {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}

/* Alert pane */
.alert {
	position: fixed;
	top: 4rem;
	margin: 0px 20%;
	width: 60%;
	padding: 10px;
	color: rgb(255, 255, 255);
	border-radius: 3px;
	box-shadow: rgb(0 0 0 / 57%) 0px 2px 8px 0px;
	transition: background-color 200ms ease 0s;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
}

.hide {
	display: none;
}

.alert .text {
	margin-left: 1rem;
}
.error {
	background-color: #de350b;
}
.success {
	background-color: #00875a;
}

/* Footer styles */
footer {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #dedede;
}

footer .section {
	text-align: center;
	margin: 1rem 0px;
	letter-spacing: 0.15em;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

footer a {
	text-decoration: none;
	color: #002bff;
}

footer a:hover {
	color: #001ca7;
}

/* Icons */
.cls-1 {
	fill: #fff;
}

.m-l-1 {
	margin-left: 0.375rem;
}
