html {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

body {
	margin: 0px;
}

.page {
	display: flex;
	position: absolute;
	flex-direction: column;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-body {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
}

.title {
	font-size: 2rem;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.form > * {
	margin-bottom: 0.5rem !important;
	margin-top: 0.5rem !important;
}

.form-input label {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
	padding: 0;
}

.form-input.required label::after {
	content: "*";
	position: relative;
	top: 2px;
	font-size: 14px;
	color: #d72d30;
	padding-left: 2px;
	font-weight: 700;
}

.output {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 40vw;
	margin: 2rem;
	padding: 2rem;
}

.output .title {
	font-size: 3rem;
	font-weight: 600;
	margin: 1rem;
}
.output .content {
	word-wrap: break-word;
	font-weight: 500;
	font-size: 1.25rem;
}

/* Login page */
.login-panel {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.login-form {
	border: 2px solid rgb(211 211 211);
	border-radius: 22px;
	background-color: rgb(253 253 253);
	width: 400px;
	padding: 2.5rem;
	margin: 4rem;
}
.selection-panel {
	display: flex;
	flex-direction: row;
	margin: 2rem;
	justify-content: center;
}

.input-radio:last-child {
	margin-left: 2rem;
}
.input-radio {
	display: flex;
	align-items: center;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.inputs > * {
	margin-top: 1rem;
}

/* Admin layout */

.box-container {
	display: grid;
	grid-template-columns: 4fr 8fr 4fr;
	grid-template-rows: 100px 1fr;
}

.title-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.content-section {
	grid-row: 2;
	grid-column: 1 / 4;
}

.profile-section p {
	margin: 0.25rem 0px;
}

.profile-section a:hover {
	color: #0025dd;
}
.profile-section a {
	color: #002bff;
	cursor: pointer;
	font-weight: 600;
}

.profile-section {
	margin: 1rem 3rem;
}

.title-section .page-title {
    font-size: 2rem;
    margin: 1rem;
    color: #8f8f8f;
    font-weight: 500;
}

.title-section .page-subtitle {
    color: #393a46;
    font-size: 1.125rem;
}

/* Footer styles */
footer {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: #dedede;
}

footer .section {
	text-align: center;
	margin: 1rem 0px;
	letter-spacing: 0.15em;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

footer a {
	text-decoration: none;
	color: #002bff;
}

footer a:hover {
	color: #001ca7;
}
